body {
  background-color: #111111;
  color: white;
  width: 768px;
  margin: auto;
}

@media (max-width: 768px) {
  body {
    width: calc(100% - 8px);
    margin: 4px;
  }
}

.section {
  border: 1px solid white;
  padding: 12px;
  margin-top: 4px;
  margin-bottom: 4px;
  transition: border 500ms ease-out;
}

.section:first-child {
  display: flex;
}

.section:hover {
  border: 1px solid green;
}

.section .profile-picture {
  width: 8%;
  height: 8%;
  filter: grayscale(100%);
  margin-right: 12px;
}

.section__header {
  font-weight: bold;
}

table {
  width: 100%;
  table-layout: fixed;
}

table th {
  text-align: left;
  border-bottom: 1px solid white;
}

dd:not(:last-child) {
  margin-bottom: 8px;
}

dt {
  color: #1167b1;
}

ul {
  columns: 3;
}

li {
  list-style-type: none;
}

li:before {
  content: '►';
  margin-left: -20px;
}

a {
  color: green;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

#mindmap {
  height: 600px;
}
